<!DOCTYPE html>
<html>
  <head>
    <title>Gcalc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id='cover'>
      <div id='cover-caption'>
        <div id='container' class='container'>
          <div class='row'>
            <div class='col-sm-10 offset-sm-1 text-center'>
              <h1 class='display-3'>Welcome to Gcalc. v1</h1>
              <div class='info-form'>
                <%= yield %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
